* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background: #000000;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-around;
}

.a-center {
  align-items: center;
}

.container {
  max-width: 1920px;
}
.container a {
  color: #ffffff;
  padding: 0 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.container nav {
  margin-top: 51px;
}

nav .singup {
  border: 2px solid #22A75D;
  border-radius: 52px;
  padding: 15px 30px;
}

.sing {
  position: absolute;
  top: 0px;
  right: 30px;
}

.hero {
  margin: 230px 0 0 170px;
}
.hero img {
  width: 1517px;
  height: 1171px;
  position: absolute;
  top: 135px;
  left: 760px;
}
.hero .container {
  flex-direction: column;
}
.hero .container .btn {
  padding: 15px 30px;
  background: #22A75D;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
  border-radius: 52px;
}
.hero .container p {
  color: #2278D4;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.hero .container h2 {
  margin: 10px 10px 30px 0px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.02em;
  width: 562px;
  height: 162px;
}
.hero .container h4 {
  margin-bottom: 40px;
  color: #dde2ff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 460px;
  height: 96px;
}

.block {
  margin: 430px 173px 0 173px;
}

.block_blue {
  width: 777px;
  height: 436px;
  margin-top: 94px;
}
.block_blue h2 {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
.block_blue h2 u {
  color: #2278D4;
}
.block_blue p {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
  margin: 20px 0 68px 0;
}
.block_blue .block_p_two {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #2278D4;
}

.block_green {
  width: 777px;
  height: 436px;
  margin: 0 20px 0 70px;
}
.block_green h2 {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
.block_green h2 u {
  color: #22A75D;
}
.block_green p {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
  margin: 20px 0 68px 0;
}
.block_green .block_p_two {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #22A75D;
}

.border {
  margin-top: 60px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #22A75D;
  background-image: url(/assets/images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.border.blue_color {
  background: #2278D4;
  box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
  background-image: url(/assets/images/Vector-2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mask img {
  width: 960px;
  height: 800px;
}

/*# sourceMappingURL=style.css.map */
