@import "vars.scss";

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    background:$primary;
}
a{
    text-decoration: none;
}

.flex {
    display: flex;
}
.between {
    justify-content: space-around;
}
.a-center{
    align-items: center;
}

.container{
    max-width: 1920px;
    a{
        color: $white;
        padding: 0 30px;
        // font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }
    img{
        // margin: 30px 80px 0 40px;
    }
    nav{
        margin-top: 51px;  
    }
}
nav{
   
    .singup{
        border: 2px solid #22A75D;
        border-radius: 52px;
        padding: 15px 30px;
    }
}
.sing{
    position: absolute;
    top: 0px;
    right:30px;
}



.hero{
    margin: 230px 0 0 170px;
        img{
            width: 1517px;
            height: 1171px;
            position: absolute;
            top: 135px;
            // left: 700px;
            left:760px;
        }
        .container{
            flex-direction: column;
            .btn{
                padding: 15px 30px;
                background: $green;
                // font-family: Century Gothic;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
                border-radius: 52px;
                
            }
       
    p{
        color: $blue;
        // font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }
    h2{
        margin:10px 10px 30px 0px;
        color: $white;
        // font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -0.02em;
        width: 562px;
        height: 162px
    }
    h4{
        margin-bottom: 40px;
        color: $grey;
        // font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        width: 460px;
        height: 96px
    }
}
}

.block{
    margin: 430px 173px 0 173px;
}
.block_blue{
    width: 777px;
    height: 436px;
    margin-top: 94px;
    h2{
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: $white;
        u{
            color: $blue;
        }
    }
    p{
        font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        opacity: 0.5;
        margin: 20px 0 68px 0;
    }
    .block_p_two{
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: $blue;
    }
}
.block_green{
    width: 777px;
    height: 436px;
    margin:0 20px 0 70px;

    h2{
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: $white;
        u{
            color: $green;
        }
    }
    p{
        font-family: Century Gothic;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        opacity: 0.5;
        margin: 20px 0 68px 0;
    }
   .block_p_two{
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: $green;
}
}

.border{
    margin-top: 60px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background:$green ;
    background-image: url(/assets/images/Vector.png);
    background-repeat: no-repeat;
    background-position: center ;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);

    &.blue_color {
    background:$blue ;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
    background-image: url(/assets/images/Vector-2.png);
    background-repeat: no-repeat;
    background-position: center ;
    }
}

.mask{
    // display: block;
    img{
        width:960px ;
        height: 800px;
    }
}
